/**
 *
 * Typography
 *
 * @author Takuto Yanagida
 * @version 2021-11-12
 *
 */


@use 'font';
@use 'typeset';


@for $i from 1 through 16 {
	[data-nc-font='#{$i}'] {
		@include typeset.font-size-line-height($i);
	}
}

:root {
	--font-sans : #{font.$font-sans};
	--font-serif: #{font.$font-serif};
	--font-mono : #{font.$font-mono};
}
