/**
 *
 * Typography Style - Typesetting
 *
 * @author Takuto Yanagida
 * @version 2020-09-05
 *
 */


@mixin responsive-size($min-vw, $max-vw, $min-size, $max-size) {
	font-size: $min-size;
	@media screen and (min-width: $min-vw) {
		@include base-responsive-size(font-size, $min-vw, $max-vw, $min-size, $max-size);
	}
	@media screen and (min-width: $max-vw) {
		font-size: $max-size;
	}
}

@mixin responsive-size-interval($min-vw, $max-vw, $min-size, $max-size) {
	@media screen and (min-width: $min-vw) and (max-width: $max-vw)  {
		@include base-responsive-size(font-size, $min-vw, $max-vw, $min-size, $max-size);
	}
}

@mixin base-responsive-size($property, $min-vw, $max-vw, $min-size, $max-size) {
	#{$property}: calc(#{$min-size} + #{base-strip-unit($max-size - $min-size)} * (100vw - #{$min-vw}) / #{base-strip-unit($max-vw - $min-vw)});
}

@function base-strip-unit($value) {
	@return $value / ($value * 0 + 1);
}


// -----------------------------------------------------------------------------


@mixin font-size-level($level, $set-line-height: true) {
	$sizes: (
		-1: 0.750rem, // 1.0
		 0: 0.850rem, // 1.5
		 1: 1.000rem, // 2.0
		 2: 1.125rem, // 2.0
		 3: 1.250rem, // 2.0
		 4: 1.500rem, // 3.0
		 5: 2.000rem, // 3.0
		 6: 2.500rem, // 4.0
	);
	$level_f: floor($level);
	$fs: 0;

	@if $level_f == $level {
		$fs: map-get($sizes, $level);
	} @else {
		$level_c: ceil($level);
		$fs_f   : map-get($sizes, $level_f);
		$fs_c   : map-get($sizes, $level_c);
		$fs     : $fs_f * ($level_c - $level) + $fs_c * ($level - $level_f);
	}
	font-size: $fs;

	@if $set-line-height {
		@if $level < 0 {
			line-height: base-vr(1);
		} @else if $level == 0 {
			line-height: base-vr(1.5);
		} @else {
			line-height: font-line-height($fs, $stile-size-unit);
		}
	}
}

@function font-line-height($font-size, $line-height-unit) {
	$vr: ceil($font-size / $line-height-unit + 0.5);
	@return $vr * $line-height-unit;
}


// -----------------------------------------------------------------------------


@mixin proportional {
	font-feature-settings: 'palt';
}
